<template>
    <lightning-combobox slot="actions" name="locale" label="Select language" variant="label-hidden"
						value={locale}
						placeholder="Select language" options={languageOptions} onchange={handleLanguageChange}>
    </lightning-combobox>
</template>
